services:
  admins_service:
    build: ./admins
    container_name: admins_service
    restart: always
    ports:
    

  web:
    build: .
    container_name: deploy_app
    restart: always
    ports:
      - "80:5000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/deploy_app
    networks:
      - app_network
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network


volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
